body {
    background-color: darkgrey;
}

body, h1, h2, p, header{
    margin: 0;
    padding: 0;
}

.centered-image{
    text-align: center;
}

.caption-italic {
    font-style: italic;
}
  
h1 {
    color: white;
    text-align: center;
}
  
p {
    font-family: verdana;
    font-size: 20px;
}
a{
    color:blue
}