body {
  background-color: rgba(58, 175, 169, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 80px;
  font-size: 12px;
  color: rgba(21, 39, 45, 255);
  margin: 0;
}

footer,
header {
  text-align: center;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption-italic {
  font-style: italic;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 12px;
}

a {
  color: cornsilk;
  text-align: center;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tr:first-child {
  background-color: #333;
  color: white;
}

#survey-form {
  display: block;
  border: 2px solid black;
  text-align: center;
}

.title {
  text-align: center;
}

#Wireframe,
#Sitemap {
  display: block;
  border: 2px solid black;
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#wireframecaption {
  text-align: center;
}

#calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 400px;
  margin: auto;
  background-color: #333;
  border: 1px solid #222;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.calc-button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #222;
  background-color: #e67e22; 
  color: #fff;
  transition: background-color 0.3s ease;
}

.calc-button:hover {
  background-color: #d35400; 
}

#displayCalculatorTry {
  grid-column: span 4;
  padding: 10px;
  font-size: 20px;
  text-align: right;
  border: 1px solid #222;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #222; 
}

@media (min-width: 576px) {
  body {
    padding: 80px;
  }
}