body {
    background-color: rgba(58,175,169,255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 80px;
    font-size: 12px;
    color: rgba(21,39,45,255);
}

body, h1, h2, p, header{
    margin: 0;
    padding: 0;
}

footer, header{
  text-align: center;
}


.centered-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption-italic {
    font-style: italic;
    text-align: center;
}
  
h1 {
    color: white;
    text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

p {
    font-family: verdana;
    font-size: 12px;
}
a{
    color:cornsilk;
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(odd) {
    background-color: #f2f2f2; 
  }
  
  tr:nth-child(even) {
    background-color: #ddd; 
  }
  
  tr:first-child {
    background-color: #333;
    color: white; 
  }
  #survey-form{
    display: block;
    border: 2px solid black;
    text-align: center;
  }
  .title{
    text-align: center;
  }
