<h1> Jay Patel's Jubilant Panther || ITIS 3135</h1>
<nav>
    <a href="./"> Home</a>
    |
    <a href="introduction.html"> Introduction </a>
    |
    <a href="contract.html">Contract</a>
    |
    <a href="tables.html">Tables</a>
    |
    <a href="forms.html">Forms</a>
    |
    <a href="website_evaluation.html">Website Evaluation</a>
    |
    <a href="firstscripts.html">First JS</a>
    |
    <a href="byo_intro.html">BYO Intro</a>
    |
    <a href="project1.html">Project 1</a>
    |
    <a href="calculator_try.html">Calculator Try</a>
    |
    <a href="calculator_fcc.html">Calculator FCC</a>
</nav>